@font-face{
    font-family: xolonium;
    src: url(../assets/fonts/Xolonium-Regular.ttf);
}

*{
    font-family: Xolonium;
    color: white;
    background-color: black;
}

#alert{
    position: absolute;
    top: 30px;
    border-radius: 10px;
    z-index: 99;
    width: max-content;
    text-align: center;
    padding: 5px;
    float: right;
    right: 250px;
    transition-duration: 800ms;
}

.success{
    color: black;
    background-color: red;
}

.failure{
    color: black;
    background-color: yellow;
}

body, html{
    margin: 0;
}

body{
    position: relative;
    height: 100%;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 0px red;
    z-index: 99;
}

header *{
    font-size: 1.6rem;
    text-decoration: none;
}

.favourite-router *{
    border-radius: 10px;
}

.favourite-router *:hover{
    color: red;
}

.app-name{
    padding-left: 20px;
}

.app-name a{
    text-decoration: none;
    color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main result body */
#result-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 172, 172);
    top: 80px;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    height: 100%;
}

/* Cards */
.card-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: 2px solid rgb(255, 50, 50);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #5a5a5a;
}

.card-img-container img{
    height: 180px;
    width: 180px;
    border-radius: 15px;
}

.card-name{
    padding: 4px;
    padding-top: 8px;
    font-size: 1.4rem;
}

.card-name:hover{
    color: red;
    cursor: pointer;
}

/* Stats */
#stats-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

#stat-names{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 10px;
}

#stat-names span{
    display: block;
    padding: 5px;
    padding-left: 15px;
}

#stat-bars{
    width: 90%;
    font-size: .9rem;
}

.bar-container{
    background-color: rgba(0, 0, 0, 0);
    width: 82%;
    padding: 2px 0px 2px 0px;
    margin-top: 3px;
}

.bar{
    background-color: red;
    border-radius: 10px;
    padding: 2px 0px 2px 0px;
    padding-left: 5px;
}
